@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgba(239, 249, 255, 0.911);

  /* center main content */
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
