* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgba(239, 249, 255, 0.911);

  /* center main content */
  display: grid;
  align-items: center;
  justify-content: center;
}
