.wrapper {
  padding: 20px;
  width: 80vw;
  min-width: 100%;
  /* margin: 20px; */
  box-shadow: 0px 0px 13px rgb(233, 233, 233);
  background-color: white;
  border-radius: 10px;
}

/* Bar  */
.bar {
  margin-bottom: 20px;
  height: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 0px 0px 5px rgb(224, 224, 224);
  position: sticky;
  top: 10px;
  z-index: 3;
  background-color: white;
  overflow: hidden;
}
.flex {
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.bar_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.title {
  /* width: 100%; */
  color: rgb(48, 48, 48);
  font-size: 1.2rem;
  padding: auto 10px;
  /* transform: translateY(3rem); */
}
.bar_selected {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bar_selected input {
  width: 20px;
  height: 20px;
}
.bar_container button {
  padding: 8px 16px;
  color: rgb(219, 43, 43);
  background-color: rgba(255, 0, 0, 0.13);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.bar_container button:hover {
  background-color: rgba(255, 0, 0, 0.315);
}
.bar_container button:active {
  transform: scale(0.95);
}

/* Grid container  */
.container {
  /* gridbox to maintain layout */
  display: grid;
  grid-template-rows: repeat(3, 12rem);
  grid-template-columns: repeat(auto-fit, minmax(12rem, 12rem));
  gap: 20px;
  grid-auto-rows: 12rem;
  grid-auto-columns: 12rem;
}

/* make first/featured item 2x larger */
.itemWrapper:first-child {
  grid-area: 1 / 1 / 3 / 3;
}

/* ITEM WRAPPER  */
.itemWrapper {
  position: relative;
  box-shadow: 0px 0px 8px rgb(224, 224, 224), 0px 0px 1px rgb(240, 240, 240);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
}

/* OVERLAY PROPERTIES */

.itemWrapper label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
  transition: all ease 0.2s;
}

.itemWrapper input {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}
.itemWrapper:hover label {
  background: radial-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3)
  );
}

.itemWrapper input:checked + label {
  background-color: rgba(5, 0, 0, 0.2);
}

/* ADD IMAGE ITEM */
.addItem {
  border: 1px dashed darkgray;
  border-style: ridge;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: rgb(102, 100, 100);
  cursor: pointer;
}
.addItem img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
.addItem p {
  user-select: none;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(102, 100, 100);
}
.empty img {
  width: 50%;
  height: 50%;
  opacity: 0.5;
}
.empty span {
  font-size: 0.9rem;
  font-weight: 500;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 10px;
    width: 95vw;
  }
  .container {
    grid-template-rows: repeat(3, 10rem);
    grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
    grid-auto-rows: 10rem;
    grid-auto-columns: 10rem;
    justify-content: center;
  }
}

/* CUSTOM CHECKMARK  */
.check {
  position: absolute;
  top: 10px;
  right: 10px;
}
.checkbg {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #fff;
}
.checkmark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: rgba(247, 0, 0, 0.73);
  scale: 0;
  transition: all ease 0.2s;
}
.itemWrapper input:checked + label .checkmark {
  scale: 1;
}
.itemWrapper input:checked + label .checkbg {
  scale: 1;
  border-color: transparent;
}
.itemWrapper input:checked + label {
  scale: 0.9;
  border-radius: 10px;
  /* box-shadow: 0px 0px 8px rgb(224, 224, 224), 0px 0px 1px rgb(240, 240, 240); */
}
